name: 2MS Secrets Scan

on:
  push:
    branches:
        - "**" # run on all branches
  pull_request:
    branches:
      - master 
  workflow_dispatch:
    
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          # Required for 2ms to have visibility to all commit history
          fetch-depth: 0

      - name: Run 2ms Scan
        run: |
          set -o pipefail
          # Run 2ms, output to runner logs and save to a file for upload
          docker run -v "${{ github.workspace }}":/repo checkmarx/2ms:2.8.1 git /repo | tee 2ms-output.yml
          
      - name: Upload 2ms output
        uses: actions/upload-artifact@v4
        with:
          name: 2ms-output
          path: 2ms-output.yml