name: KICS IaC Scan

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  kics-scan:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v4
    - name: Mkdir kics-result
      # make sure results dir is created
      run: mkdir -p kics-result

    # Scan Iac with kics
    - name: run kics Scan
      uses: checkmarx/kics-github-action@v2.1.15
      with:
        path: 'terraform,Dockerfile'
        output_formats: 'json,html,sarif'
        output_path: kics-result
        fail_on: critical,high
        # ignore_on_exit: true

    # Display the results in json format
    - name: display kics results
      if: always()
      run: |
        echo "LIST KICS SCAN ARTIFACTS:"
        ls -la kics-result || true
        if [ -f kics-result/results.json ]; then
          cat kics-result/results.json
        else
          echo "kics results.json not found"
        fi
    
    - name: Upload KICS report (artifacts)
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: kics-report
        path: kics-result/*