name: Vorpal Code Quality Scan

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  vorpal:
    runs-on: ubuntu-latest
    steps:
      # Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # Get changed files
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v46.0.1
        with:
          separator: ','

      # Debug changed files
      - name: Debug and print changed files
        run: |
          ALL_FILES="${{ steps.changed-files.outputs.all_changed_files }}"
          echo "All changed files: $ALL_FILES"
          echo -e "\nTotal changed files: $(echo "$ALL_FILES" | tr ',' '\n' | grep -c .)"
          echo -e "\nPRINT EACH CHANGED FILE:"
          echo "$ALL_FILES" | tr ',' '\n'

      # Filter supported files for Vorpal (JS, PY, Java, Go, C#)
      - name: Filter supported files
        id: supported-files
        run: |
          SUPPORTED=$(echo "${{ steps.changed-files.outputs.all_changed_files }}" | tr ',' '\n' | grep -E '\.js$|\.jsx$|\.py$|\.java$|\.go$|\.cs$' | paste -sd "," -)
          echo "supported_files=$SUPPORTED" >> $GITHUB_OUTPUT
          echo "Filtered supported files: $SUPPORTED"
          echo -e "\nTotal supported files: $(echo "$SUPPORTED" | tr ',' '\n' | grep -c .)"
          echo -e "\nPRINT EACH SUPPORTED FILE:"
          echo "$SUPPORTED" | tr ',' '\n'

      # Run Vorpal scan only if there are supported files
      - name: Vorpal with Reviewdog
        if: ${{ steps.changed-files.outputs.all_changed_files }}
        uses: checkmarx/vorpal-reviewdog-github-action@v1.2.0
        with:
          source_path: "${{ steps.changed-files.outputs.all_changed_files }}"
          filter_mode: file
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-check
          level: error
          fail_on_error: false